{
  "env": {
    "browser": true,
    "es2021": true,
    "cypress/globals": true
  },
  "extends": [
    "eslint:recommended",
    "plugin:cypress/recommended",
    "plugin:@typescript-eslint/recommended",
    "prettier"
  ],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": "latest"
  },
  "plugins": ["cypress", "@typescript-eslint"],
  "rules": {
    "@typescript-eslint/no-explicit-any": ["off"]
  }
}
